*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
h1{
    text-align: center;
    color: #d30000;;
}
#postForm{
width: 100%;
max-width: 500px;
padding: 20px;
border: 1px solid #ccc;
border-radius: 8px;
background-color: #ffffff;
}
label,
input,
textarea{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  
}
textarea{
    resize: none;
}
button{
    background-color: #d30000;
    cursor:pointer;
    color: #ffffff;
   width: 100%;
    padding: 0.25rem;
    border-radius: 8px;
}
button:hover{
background-color: #a00000;

}
main{

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.post{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
 margin-bottom: 10px;
    
}

.post h2 {
    color: #d30000;
    margin-bottom: 5px ;
}
.post button {
    background-color: #d30000;
    color: #f0f0f0;
    
}